body{
    width: 80%;
    margin-left: 10%;
    background-image: url("stomatopoda-image-background.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode:lighten;
}

.container-header{
    text-align: center;
    background-color: brown;
}

.header-list{
    display: inline-block;
    margin: 1%;
}

.header-list a{
    text-decoration: none;
    color: white;

}

.container-article{
    color:azure;
    text-align: center;
    border: solid 1px white;

}
.container-section-12{
    width: 100px;
    display: block;
    text-align: center;
}
.container-section-1{
    background-color: hsla(50, 33%, 25%, .65);
    color: white;
    text-align: center;
    width: 100%;

}
.container-table{
    width: 70%;
    background-color: aliceblue;
    margin-left: 15%;
    color: black;
}
.container-section-2 p{
    width: 49%;
    display: inline-block;
    text-align: left;
    line-height: 30px;
}
.container-section-2 img{
    display: inline-block;
    width: 20%;
}
.container-section-2{

    background-color: hsla(50, 33%, 25%, .65);
    color: white;

}

.container-section-3{
    background-color: hsla(50, 33%, 25%, .65);
    color: white;

}
.container-section-3 img{
    width: 400px;
    display: inline-block;
}

.container-section-3 p{
    width: 49%;
    height: 250px;
    display: inline-block;
    text-align: left;
}
.container-section-4{
    height: 350px;
    background-color: hsla(50, 33%, 25%, .65);
    color: white;

}

.container-section-4 img{
    width: 250px;
    display: inline-block;
}
.container-section-4 p{
    line-height: 23px;
    width: 500px;
    display: inline-block;
    text-align: left;
}


.container-bibliografias{
    background-color: hsla(50, 33%, 25%, .65);
    color: white;
    text-align: center;
}
.container-bibliografias li{
    display: inline-block;
    margin: 30px;

}
.container-bibliografias ul{
    text-decoration: none;


}

.container-bibliografias a{
    text-decoration: none;
}
.footer{
    background-color: brown;
    color: aliceblue;
    text-align: center;
}