body{
    width: 80%;
    margin-left: 10%;
    background-image: url("stomatopoda-image-background.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode:lighten;
}

.container-header{
    text-align: center;
    background-color: brown;
}

.header-list{
    display: inline-block;
    margin: 1%;
}

.header-list a{
    text-decoration: none;
    color: white;

}

.container-article{
    color:azure;
    text-align: center;
    border: solid 1px white;

}

.container-section-1{
    display: inline-block;
    background-color: hsla(50, 33%, 25%, .65);
    color: white;
    width: 45%;


}
.container-section-2{
    display: inline-block;
    background-color: hsla(50, 33%, 25%, .65);
    color: white;
    width: 49%;
}
.container-table{
    width: 100%;
    background-color: aliceblue;
    color: black;
}

.container-section-3{
    display: inline-block;
    background-color: hsla(50, 33%, 25%, .65);
    color: white;
    width: 49%;
}

.container-section-4{
    display: inline-block;
    background-color: hsla(50, 33%, 25%, .65);
    color: white;
    width: 50%;
}

