/* Posicione o Mário acima do Goomba. */
.super-mario {
    width: 250px;
    position: absolute;
    left: 150px;
    top: 100px;
    z-index: 2;
  }
  
  .goomba {
    width: 200px;
    position: absolute;
    top: 450px;
    left: 150px; 
    z-index: 1;
  }
  
  /* Posicione o balão para que se torne uma fala de Bowser. */
  .baloon {
    position: absolute;
    top: 20px;
    left: 400px;
  }
  
  /* Posicione a tag p para que fique dentro do balão de fala. */
  .speach {
    font-size: 25px;
    position: absolute;
    top: 60px;
    left: 420px;
    z-index: 2;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    left: 650px;
    top:130px
  }