.container-main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 50vh;
    width: 80vh;
    line-height: 20px;
}

.email, .name, .container-date{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.container-promocao{
    margin: 10px;
}