body {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.container-main{
    display: inline-block;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    /* justify-content: center; */
}
.size{
    width: 40px;
    text-align: center;
}

.color-palette{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    margin: 2px;
}
.color {
    width: 40px;
    height: 40px;
    margin: 1px;
    border-radius: 50%;
    border: 1px solid black;
}
.first{
    background-color: black;
}
.second{
    background-color: red;
}
.third {
    background-color: ;
}
.fourth{
    background-color: rgb(#a13,100,100);
}
.fifth{
    background-color: purple;
}

.container-pixel {
    display: grid;
    grid-template-columns: repeat((pixelSize), 2fr);
}

.pixelCel{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: table-cell;
    background-color: red;
}
